@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lilita+One&family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body,
html {
  font-family: 'Noto Sans TC', 'Roboto', "微軟正黑體", sans-serif;
  font-size: 16px;
  color: #121212;
  font-weight: 400;
  position: relative;
  background: #f8f9fb;
  line-height: 1.5;
}

a {
  transition: all ease-in-out .3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: .8;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

.btn.focus,
.btn:focus,
button:focus,
.accordion-button:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
}

/**/
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.padding-style {
  padding: 30px 0;
}


.bg-white {
  background-color: #fff;
}

.bg-gray {
  background: #F5F5F5;
}

.bg-blue {
  background: #4681f0;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #616161;
}

.text-blue {
  color: #4681f0;
}


.text-sm {
  font-size: .875rem;
}

.text-mini {
  font-size: .8rem;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.btn {
  border: none;
  transition: all ease-in-out .3s;
  text-decoration: none;
}

.btn-basic {
  border-radius: 6px;
  text-align: center;
  padding: 10px 15px;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background-color: #4681f0 !important;
  color: #fff !important;
}


.btn-green,
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background-color: #00b900 !important;
  color: #fff !important;
}

.btn-white {
  border: solid 1px #edeff4;
  background-color: #fff;
  color: #121212;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  border-color: #4681f0;
  color: #4681f0;
  background-color: #fff !important;
  opacity: 1;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(19, 1, 1, 0.1);
}

.btn-underline,
.btn-underline:hover {
  text-decoration: underline;
  opacity: 1;
}


.border-radius {
  border-radius: 6px;
}

.border-gray {
  border: solid 1px #edeff4;
}

.relative {
  position: relative;
}



/*header*/
header {
  background: #fff;
  transition: all ease-in-out 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e9ecef;
  z-index: 900;
}

.navbar-toggler {
  border: none;
  padding: 6px 4px;
  color: #121212;
  box-shadow: none !important;
}

.navbar-toggler>svg {
  width: 24px;
  height: 24px;
  fill: #121212;
}

.navbar-toggler.collapsed .open-menu {
  display: block;
}

.navbar-toggler.collapsed .close-menu {
  display: none;
}

.navbar {
  padding: 0;
  flex-wrap: nowrap;
  background: #fff;
}

.navbar .navbar-brand {
  padding: 0;
  margin-right: 30px;
  border: none;
  background: none;
}

.navbar .navbar-brand img {
  width: 90px;
}

.navbar-nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav .nav-item {
  padding: 15px 0;
}

.navbar-nav .nav-item .nav-link {
  padding: 8px 25px;
  color: #121212;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 0;
  transition: all ease-in-out 0.3s;
  border-radius: 20px;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link[aria-expanded="true"] {
  background-color: #f8f9fb;
  opacity: 1;
}

.navbar-nav .nav-item .nav-link i {
  transition: all ease-in-out 0.3s;
  display: inline-block;
}

.navbar-nav .nav-item .nav-link[aria-expanded="true"] i {
  transform: rotate(-180deg);
}

.dropdown-toggle::after {
  display: none;
  /* display none original arrow*/
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: 0;
  padding: 4px 0;
  margin: 0;
  border-radius: 4px;
  border: none;
  width: 240px;
  background-color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #616161;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #f8f9fb;
  opacity: 1;
}

.navbar-nav .dropdown-menu .dropdown-item i {
  font-size: .85rem;
  color: #b9bdcb;
  font-weight: 700;
}

.navbar .navbar-end button {
  padding: 8px 25px;
  border-radius: 20px;
}

.navbar .navbar-end .btn-text:hover,
.navbar .navbar-end .btn-text:focus {
  background-color: #f8f9fb;
}





/*content*/
main {
  padding-top: 80px;
}

.show-mb {
  display: none;
}

.hide-mb {
  display: block;
}

.hide {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 12px;
}

.row {
  margin: 0 -12px;
}

.row>* {
  padding: 0 12px;
  margin: 0;
}

.imgBox img {
  max-width: 100%;
}

.imgBox.border-radius {
  border-radius: 6px;
  overflow: hidden;
}

.divider {
  position: relative;
  padding: 12px 0;
  margin: 20px 0;
}

.divider::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #f2f2f3;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.divider span {
  color: #5f6165;
  background-color: #fff;
  padding: 0 23px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progress {
  height: 12px;
  border-radius: 8px;
}

.progress .progress-bar {
  background-image: linear-gradient(to right, #7cb7f9, #4681f0);
  border-radius: 8px;
}

.progress-bar.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #f1f6fd 79%, transparent 80% 100%), conic-gradient(#4681f0 75%, rgba(70, 129, 240, .4) 0);
}

.class-nav-fixed {
  border-bottom: 1px solid #edeff4;
}

.class-nav {
  display: flex;
}

.class-nav a {
  padding: 16px 0;
  margin: 0 20px;
  border: none;
  border-bottom: 4px solid transparent;
  background: transparent;
  color: #4681f0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  display: inline-block;
}

.class-nav a.active,
.class-nav a:hover {
  border-color: #4681f0;
  background: transparent;
  color: #4681f0;
}


/*from*/
input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}


::placeholder {
  /* CSS 3 標準 */
  color: #90949d !important;
  letter-spacing: 0;
}

::-webkit-input-placeholder {
  /* Chrome, Safari */
  color: #90949d !important;
  letter-spacing: 0;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #90949d !important;
  letter-spacing: 0;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #90949d !important;
  letter-spacing: 0;
  opacity: 1;
}


form .input-box {
  margin-bottom: 28px;
}

.form-control {
  padding: 7px 14px;
  border-color: #dadde8;
  color: #121212;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4681f0;
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #dadde8;
  background-image: none;
  box-shadow: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #ef6565;
  background-image: none;
  box-shadow: none;
}

.invalid-feedback {
  text-align: left;
  color: #ef6565;
}


/*login*/
.login-box {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.login-box .card {
  max-width: 400px;
  padding: 40px 30px;
  text-align: center;
  border: none;
}

.login-box .title {
  margin-bottom: 30px;
}

/*page*/
.page-header {
  background-color: #edf4fe;
}

.breadcrumb .breadcrumb-item {
  font-size: .8rem;
}

.breadcrumb .breadcrumb-item a {
  color: #90949d;
}

.breadcrumb .breadcrumb-item.active {
  color: #121212;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\f285";
  display: inline-block;
  font-family: bootstrap-icons !important;
}


.page-header .page-title h2 {
  font-weight: 700;
}

.page-header .btn-line-group {
  overflow: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.page-header .btn-line-group::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.page-header .btn-line-group a {
  margin: 0 8px;
  padding: 10px 12px;
  white-space: nowrap;
}

.page-header .btn-line-group a:first-child {
  margin-left: 0;
}

.page-header .btn-line-group a:hover,
.page-header .btn-line-group a:focus,
.page-header .btn-line-group a:active,
.page-header .btn-line-group a.active {
  border-color: #4681f0;
  color: #4681f0;
  background: #fff;
}


.sort-list.hide-mb {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sort-list li {
  padding: 0 15px;
  position: relative;
}

.sort-list li::after {
  content: "";
  width: 1px;
  height: 14px;
  background: #b9bdcb;
  position: absolute;
  top: 7px;
  right: 0;
}

.sort-list li:last-child::after {
  display: none;
}

.sort-list li a:hover,
.sort-list li a:focus .sort-list li a:active,
.sort-list li a.active {
  color: #4681f0;
}

.class-sort {
  display: flex;
  justify-content: flex-end;
}

.select-sort {
  border: none;
  background-image: url(../img/icon/select-down.svg);
  background-color: transparent;
  background-position: right center;
  margin-bottom: 15px;
  color: #303030;
  width: auto;
  padding: 0 20px 0 0;
  position: relative;
}


.class-list li {
  padding: 10px 12px;
}

.class-list li .imgBox {
  width: 25%;
}

.class-list li .class-info {
  width: 55%;
  padding: 0 30px;
}

.class-list li .class-act {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.class-list li .class-info .class-tag {
  margin-bottom: 10px;
  display: inline-block;
}

.class-list li .class-info .class-name {
  margin-bottom: 12px;
}

.class-list li .class-info p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.class-list li .class-act .btn-basic {
  width: 140px;
}

.main-content {
  width: 75%;
  transition: all ease-in-out .3s;

}

.main-content.full {
  width: 100%;
}

.class-content {
  max-width: 996px;
  margin: 0 auto;
}

.sidebar-content {
  width: 25%;
  transition: all ease-in-out .3s;
  position: absolute;
  left: 75%;
}

.sidebar-content.close {
  left: 150%;
}

.sidebar-open {
  padding: 12px 16px;
  position: absolute;
  right: 0;
  top: 30px;
  opacity: 0;
  z-index: -1;
  transition: all ease-in-out .3s;
}

.sidebar-open.show {
  opacity: 1;
  z-index: 1;
}

.sidebar-open .icon {
  font-size: 1.25rem;
}

.main-content .class-list {
  margin-top: 30px;
}

.main-content .class-list li .imgBox {
  width: 37%;
}

.main-content .class-list li .class-info {
  width: 46%;
  padding: 0 20px;
}

.main-content .class-list li .class-act {
  width: 17%;
  justify-content: flex-end;
}

.main-content .class-list li .class-act .btn-basic {
  width: 120px;
}

.main-content .class-list li .class-info p {
  -webkit-line-clamp: 4;
}

.class-unit-sidebar {
  overflow: hidden;
}

.class-unit-sidebar .sidebar-head {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-unit-sidebar .sidebar-head .icon {
  font-size: 1.25rem;
}

.class-unit-sidebar .card-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  border: none;
}


.class-unit-sidebar .card-body .accordion-item,
.class-unit-sidebar .card-body .accordion-button {
  border-radius: 0 !important;
  border: none;
}

.class-unit-sidebar .card-body .accordion-button {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 16px 40px 16px 16px;
  color: #121212 !important;
  box-shadow: none;
}

.class-unit-sidebar .card-body .accordion-button .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.25rem;
  transition: all ease-in-out .3s;
}

.class-unit-sidebar .card-body .accordion-button[aria-expanded="true"] .icon {
  transform: rotate(-180deg);

}

.class-unit-sidebar .card-body .accordion-button::after {
  content: "";
  display: none;
}

.class-unit-sidebar .card-body .accordion-body {
  background: #f1f6fd;
  padding: 0;
}

.class-unit-list li a {
  display: flex;
  padding: 14px 16px;
  color: #121212;
}

.class-unit-list li a .imgBox {
  padding-right: 12px;
  position: relative;
}

.class-unit-list li a .imgBox .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 1;
  font-size: .8rem;
  width: 20px;
  height: 20px;
  color: #4681f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-unit-list li.finish a .imgBox .icon::after {
  content: "\F633";
  display: inline-block;
  font-family: bootstrap-icons !important;
}

.class-unit-list li.start a .imgBox .icon::after {
  content: "\F4F4";
  display: inline-block;
  font-family: bootstrap-icons !important;
}

.class-unit-list li.lock a .imgBox .icon::after {
  content: "\F47A";
  display: inline-block;
  color: #616161;
  font-family: bootstrap-icons !important;
}

.class-unit-list li.lock a .imgBox .progress-bar {
  background: none;
}

.class-unit-list li a .unit-info {
  flex: auto;
  position: relative;
}

.class-unit-list li a .unit-info:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -14px;
}

.class-progress {
  padding: 30px;
}

.class-progress p {
  color: #90949d;
}

.class-teacher .imgBox {
  border-radius: 50%;
  overflow: hidden;
}

.class-teacher .imgBox img {
  width: 24px;
}

.header-class-info {
  padding-bottom: 20px;
}

.header-class-info .class-info p {
  color: #90949d;
}

.header-class-info .class-text {
  padding-bottom: 50px;
}

.class-score {
  display: flex;
  align-items: center;
}

.class-score .stars {
  padding: 0 5px;
}

.class-score i {
  margin: 0 1px;
}

.class-score i.get {
  color: #ffd056;
}

.class-score i.yet {
  color: #b9bdcb;
}

.class-tabs-fixed {
  border-bottom: 1px solid #e9ecef;
}

@media(min-width:1025px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
  }

}

@media(max-width:1024px) {
  .show-mb {
    display: block;
  }

  .hide-mb {
    display: none;
  }

  header {
    min-height: 60px;
    box-shadow: 0 4px 8px 0 rgba(19, 1, 1, 0.1);
  }

  header::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e9ecef;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .navbar {
    padding: 10px 0;
    flex-wrap: wrap;
  }


  .navbar-nav {
    display: block;
    height: auto;
  }

  .navbar-nav .nav-item {
    width: 100%;
    padding: 10px 0;
  }

  .navbar-nav .dropdown-menu {
    position: static;
    border: none;
    box-shadow: none;
    width: 100%;
    margin-top: 20px;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    padding: 12px 0;
    border-bottom: 1px solid #e9ecef;
    background-color: #fff !important;
  }

  .navbar-nav .dropdown-menu li:last-child .dropdown-item:last-child {
    border: none;
  }

  .navbar .navbar-end {
    justify-content: center;
    padding-bottom: 10px;
  }

  .navbar .navbar-end button {
    width: 50%;
  }

  .navbar .navbar-end .btn-text {
    background: #f8f9fb;
  }

  main {
    padding-top: 60px;
  }

  .login-box {
    padding: 0;
  }

  .login-box .card {
    width: 100%;
    min-height: calc(100vh - 60px);
    max-width: none;
    padding: 30px 20px;
  }

  .page-header .btn-line-group {
    padding: 5px 0 0;
  }

  .sort-list.hide-mb {
    display: none;
  }

  .class-unit-list li a {
    padding: 14px 20px;
  }
}


@media(max-width:767px) {
  .container {
    padding: 0 20px;
  }

  .row {
    margin: 0 -20px;
  }

  .row>* {
    padding: 0 20px;
  }

  .navbar .navbar-brand img {
    width: 67px;
  }

  .padding-style {
    padding: 15px 0;
  }

  .class-list li {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
  }

  .class-list li .imgBox {
    width: 100%;
  }

  .class-list li .class-info {
    width: 100%;
    padding: 20px 16px;
  }

  .class-list li .class-info .class-tag {
    display: none;
  }

  .class-list li .class-info .class-name {
    font-size: 1.125rem;
  }

  .class-list li .class-act {
    width: 100%;
    flex-direction: row;
    padding-top: 0 !important;
    align-items: center;
  }

  .class-list li .class-info p {
    -webkit-line-clamp: 2 !important;
  }

  .class-list li .class-price {
    font-size: 1rem;
    margin: 0;
  }

  .main-content {
    width: 100%;
  }

  .class-content .class-video {
    margin: 0 -20px;
    margin-bottom: 20px !important;
  }

  .class-content h3 {
    font-size: 1.25rem;
  }

  .class-progress {
    margin-top: 20px !important;
    margin-bottom: 20px;
    padding: 18px 16px;
  }

  .class-progress h4 {
    font-size: 1.125rem;
    margin-bottom: 10px !important;
  }

  .class-progress p {
    font-size: .875rem;
  }

  .video-md-top {
    padding-top: 0;
  }

  .sidebar-content {
    position: static;
    width: 100%;
    padding: 0;
  }

  .class-unit-sidebar {
    border-radius: 0;
  }

  .class-unit-sidebar .sidebar-head {
    display: none;
  }

  .class-unit-sidebar .card-body .accordion-button {
    padding-left: 20px;
  }

  .main-content .class-list {
    margin-top: 20px;
  }

  .main-content .class-list li {
    padding: 18px 16px;
  }

  .main-content .class-list li .imgBox {
    display: none;
  }

  .main-content .class-list li .class-info {
    width: 100%;
    padding: 0;
  }

  .main-content .class-list li .class-act {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin-top: 20px;
  }
}


@media(max-width:375px) {}

@media(max-width:320px) {}